<!-- Modal -->
<div id="game-select" class="modal fade text-center" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Modal Header</h2>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <a id="confirm-pick" class="btn btn-success" data-dismiss="modal">Pick!</a>
        <a class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>

  </div>
</div>

<script>
  pick.init_listeners();
</script>
