<!-- Pager Content -->
<div class="container">
  <ul class="flex-container searchable">
    <li class="flex-item game-box" style="width: 30d0px;">
      <%= render :template => "games/game_box", :locals => { game: @game, show_result: true, show_spread: true, show_pick: true } %>
    </li>
    <%= render :template => "games/performance_modal" %>
  </ul>
</div>
