/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Used to space body lower than the navbar.
body{
  padding-top: 100px;
}

// Used to rise height of navbar so the navbar logo image fits perfectly.
.navbar-fixed-top .nav {
    padding: 15px 0;
}

// Used to position navbar logo image when screen gets smaller that 767px.
@media (max-width: 767px) {
  .navbar-fixed-top .navbar-brand {
      padding: 0 15px;
  }
}
