/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "colors"; // Color variables

// Used to space body lower than the navbar.
body{
  padding-top: 100px;
}
@media (max-width: 767px) {
  body{
    padding-top: 60px;
  }
}

// Used to rise height of navbar so the navbar logo image fits perfectly.
.navbar-fixed-top .nav {
    padding: 15px 0;
}

// Used to position navbar logo image when screen gets smaller that 767px.
@media (max-width: 767px) {
  .navbar-fixed-top .navbar-brand {
      padding: 0 15px;
  }
}

// Used to space pick image to make header.
.margin-top-20{
  margin-top: 20px;
}

.duration-500 {
  transition-duration: 500ms;
}
//
// .box:hover{
//   background: blue; /* make this whatever you want */
// }

// .pick_thumb {
//   transition: background-color 0.5s ease;
//   transition: border 0.5s ease;
//   border-radius: 8px;
//   border: 1px solid green;
// }

// .box {
//   transition: background-color 0.5s ease;
//   transition: border 0.5s ease;
//   // background-color: red;
//   border-radius: 8px;
//   border: 1px solid green;
// }
// .box:hover {
//   background-color: lightgrey;
//   border: 1px solid yellow;
//
// }


// This is used on the land page to remove the underlines in pervious pickes.
.remove-decoration:hover{
  text-decoration: none;
}

.landing-action-item{
  font-size: 24px;
}

.inline {
  display: inline-block;
}

.pick_thumb {
  // color: $blue3;
  transition: background-color 0.5s ease,  border 0.5s ease;;
  // transition:
  border-radius: 8px;
  // background-color: blue;

  .result {
    font-size: 10px;
    color: white;
    transition: background-color 0.5s ease,  border 0.5s ease;;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.btn-x{
  background-color: $blue3;
  color: $white;
}

.pick_thumb.season{
  border: 1px solid $blue3;
  // background-color: $blue3;
  // color: $white;
  color: $blue3;
  .result {
    background-color: $blue3;
    border: 1px solid $blue3;
  }
}
.pick_thumb.winner{
  border: 1px solid $green;
  .result {
    background-color: $green;
    border: 1px solid $green;
  }
}
.pick_thumb.loser{
  border: 1px solid $red;
  .result {
    background-color: $red;
    border: 1px solid $red;
  }
}

.pick_thumb:hover {
  background-color: darken($white, 10%);
  border: 1px solid $blue3;
  .result {
    background-color: $blue3;
    border: 1px solid $blue3;
  }

}

.pointer {
  cursor: pointer;
}

.float-bottom {
  width: 100%;
  bottom: 0;
  position: absolute;
  padding: 4px;
}

// .winner{
//   font-size: 10px;
//   background-color: green;
//   color: white;
//   border-bottom-left-radius: 6px;
//   border-bottom-right-radius: 6px;
//   border: 1px solid green;
// }
