$white: #ffffff;
$black: #00171F;
$blue1: #003459;
$blue2: #007EA7;
$blue3: #00A8E8;

// Secondary Grey Scheme
$grey1: #5D5E5E;
$grey2: #CDCCCC;

// Extra colors for buttons
$red: #e84900;
$green: #12B547;
