@import "colors"; // Color variables

.game-box{
  text-align: center;
  position: relative;

  .bottom-text{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .game-at {
    top: 30px;
    width: 100%;
    position: relative;
    text-align: center;
    pointer-events: none;
  }

  .game-select-performance {
    width: 50%;
    height: 100%;
    float: left;

    .game-logo {
      height: 32px;
    }

    .game-performance-gradient {
      position: absolute;
      bottom: 0;
      width: 50%;
      height: 100%;

      p {
        font-size: 11px;
      }
    }
  }
  .result {
    display: inline;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
  }
  .result.win {
    background-color: $green;
  }
  .result.loss {
    background-color: $red;
  }
  .result.push {
    background-color: orange;
  }
}

.game-box.pick{
  border: 3px solid green;
}
